@model Register

@{
    ViewData["Title"] = "Log in";
}


<div class="container account-login-container">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-12">
            <section>
                <form method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="User"></label>
                        <input asp-for="User" class="form-control" />
                        <span asp-validation-for="User" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>                    
                    <p>
                        Note that for demo purposes you don't need to register and can login with these credentials:
                    </p>
                    <p>
                        User:     <b>demouser@microsoft.com</b>
                    </p>
                    <p>
                        Password: <b>Pass@word1</b>
                    </p>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
