
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suerte y muerte</title>
</head>
<body>
    <h2>Suerte y Muerte</h2>
</body>
</html>
